.body{
    background-color: rgb(23, 23, 23);
    color: white;
}
.txt1{
    font-family:'GrenzeRegular' ;
    font-size: 28px;
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
    line-height: 2;
}
.txt2{
    font-family:'GrenzeRegular' ;
    font-size: 28px;
    text-align: left;
    margin-left: 27%;
    margin-top: -37%;
    line-height: 2;
}
.txt3{
    font-family:'GrenzeRegular' ;
    font-size: 28px;
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
    line-height: 2;
}
.img1{
    margin-right: -60% ;
    margin-top: -20%;
    width: 226px;
    height: 338px;
    
}
.img2{
    margin-left: -69%;
    margin-top: 15%;
    width: 300px;

    
}
.img3{
    margin-right: -60% ;
    margin-bottom: 5%;
    margin-top: -70%;
    width: 250px;

    
}
@font-face
{
font-family: GrenzeRegular;
src: url("C:\Users\evdok\OneDrive\Рабочий стол\summer project\summer\font\Grenze-Regular.ttf");
}
