.txt{
    color: white;
    font-family:GrenzeRegular ;
    text-align: left;
    margin-left: 15%;
    line-height: 2;
    font-size: 28px;
}
.img1{
    width: 25%;
    position: absolute;
    top: 50%;
    left: 65%;


}
.img2{
    margin-left: 54% ;
    margin-top: -200%;
    margin-bottom: 30%;
    width: 25%;

}
@font-face
{
font-family: GrenzeRegular;
src: url("C:\Users\evdok\OneDrive\Рабочий стол\summer project\summer\font\Grenze-Regular.ttf");
}