.txt {
    color: white;
    font-family: 'GrenzeRegular';
    text-align: left;
    margin-left: 5%; 
    margin-right: 5%;
    line-height: 1.6; 
    font-size: 2.5vw; 
}

.ac-img1, .ac-img2 {
    width: 50%;
    margin-left: 5%; 
}

.ac-img2 {
    margin-bottom: 10%; 
}

@font-face {
    font-family: GrenzeRegular;
    src: url("C:\Users\evdok\OneDrive\Рабочий стол\summer project\summer\font\Grenze-Regular.ttf");
}


@media screen and (max-width: 992px) {
    .txt {
        font-size: 1.5rem; 
        margin: 0 5%; 
        text-align: center; 
    }

    .ac-img1, .ac-img2 {
        width: 100%; 
        margin: 0; 
    }
}
