.Home {
    text-align: center; 
    background-color: black;
    color: white;
    font-family: 'GrenzeRegular';
  }

.Home-h1{
  font-family: 'GrenzeRegular';
  font-size: 400%;
  position: absolute;
  left: 15%;
}
.Home-h2{
  font-family: 'GrenzeRegular';
  font-size: 400%;
  position: absolute;
  left: 40%;

}
.Home-h3{
  font-family: 'GrenzeRegular';
  font-size: 400%;
  position: absolute;
  left: 60%;
  margin-top: 5%;
}
  
  .Home-span1{
    text-align: right;
    color: white;
    font-family: 'GrenzeRegular';
    position: absolute;
    right: 5%;
    margin-top: 10%;
    font-size: 200%;
    padding: 3px 5px;
  }
  
  .Home-span2{
    text-align: right;
    position: absolute;
    color: white;
    font-family: 'GrenzeRegular';
    right: 5%;
    margin-top: 40%;
    font-size: 200%;
    padding: 20px 15px;
    }
    
 .Home-span3{
    text-align: center;
    position: absolute;
    color: white;
    font-family: 'GrenzeRegular';
    right: 25%;
    margin-top: 10%;
    font-size: 200%;
    padding: 3px 5px;
    }

.Home-span4{
    text-align: left;
    position: absolute;
    color: white;
    font-family: 'GrenzeRegular';
    left: 30%;
    margin-top: 43%;
    font-size: 200%;
    padding: 3px 5px;
    } 

.Home-span5{
    text-align: center;
    position: absolute;
    color: white;
    font-family: 'GrenzeRegular';
    left: 25%;
    margin-top: 47%;
    font-size: 200%;
    padding: 3px 5px;
    } 

  .Home img{
  width: 100%;
  }
  
  @font-face
    {
    font-family: GrenzeRegular;
    src: url("C:\Users\evdok\OneDrive\Рабочий стол\summer project\summer\font\Grenze-Regular.ttf");
    font-size: 40px;
    }
  