.body {
    background-color: rgb(23, 23, 23);
    color: white;
}

.tren-txt1, .tren-txt2, .tren-txt3 {
    font-family: 'GrenzeRegular';
    font-size: 28px;
    text-align: left;
    margin-left: 10%;
    line-height: 1.6; 
}

.tren-txt2 {
    margin-left: 10%; 
}

.tren-img1, .tren-img2, .tren-img3 {
    width: 30%; 
    max-width: 100%; 
    height: auto; 
}

@font-face {
    font-family: GrenzeRegular;
    src: url("C:\Users\evdok\OneDrive\Рабочий стол\summer project\summer\font\Grenze-Regular.ttf") 
}

@media (max-width: 992px) { 
    .tren-txt1, .tren-txt2, .tren-txt3 {
        font-size: 18px; 
        text-align: center; 
        margin: 0; 
    }

    .tren-img1, .tren-img3 {
        margin: 0;
        width: 50%; 
    }

    .tren-img2 {
        display: none;
    }
}
