.m-body{
    background-color: rgb(23, 23, 23);
    color: white;
    text-align: center;
}
.m-img1{
    margin-top: 5%;
    margin-left: -45%;
}
.m-txt{
    color: white;
    font-family:GrenzeRegular ;
    text-align: left;
    margin-left: 15%;
    line-height: 2;
    font-size: 28px;
}
.m-h1{
    >h1{color: white;
    font-family:GrenzeRegular;
    font-size: 40px;
    top: 11%;
    left: 40%;
    position: absolute;
    }
    >h2{
        color: white;
        font-family:GrenzeRegular;
        font-size: 28px;
        top: 20%;
        left: 40.5%;
        position: absolute; 
        text-align: left;
    }
    >button{
            color: white;
            font-family:GrenzeRegular;
            font-size: 28px;
            top: 50%;
            left: 40.5%;
            position: absolute;
            background-color: rgb(97, 0, 0);
            width: 145px;
            border-radius: 20px;
            border-color:rgba(255, 0, 0, 0)
        }
    >button:hover {
            background-color:#ff0000;
            transition: 0.3s;
        }
}
.link1{
    color: white;
    text-decoration: none;
}
@font-face
{
font-family: GrenzeRegular;
src: url("C:\Users\evdok\OneDrive\Рабочий стол\summer project\summer\font\Grenze-Regular.ttf");
}
